<r2o-view title="'Your Orders'" class='grid-block vertical'>
    <r2o-content class='grid-block vertical has-header has-footer view-orders'>
        <div class="grid-content" when-scrolled="loadMore()" style="overflow: auto;">
            <div ng-show="orders.length && getOrdersCalled">
                <section class="block-list">
                    <ul class="av-list {{($root.networkStatus=='offline') ? 'noNetworkMargin' : '' }}">
                        <li ng-repeat="order in orders track by $index" class="av-list-item"
                            ng-click="goToOrderDetail(order.SalesOrder)">
                            <a class="av-list-item-link" href="" ng-class-even="'even'">
                                <h6 class="av-list-item-heading">PO: {{::order.CustomerPo}}</h6>
                                <p class="av-list-item-subheading">{{::order.EndUserName}}</p>
                                <span class="av-list-item-date">{{moment(order.BookDate,'YYYY-MM-DD').format('MM/DD/YY')}}</span>
								<span class="av-list-item-status" ng-class="order.StatusDescription">
								<span class="av-list-item-status-value">{{order.StatusDescription}}</span>
								</span>
                                <i class="av-list-item-chevron icon-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <div ng-show="!orders.length && getOrdersCalled">
                <div class="grid-block cc-list-item-spacing">
                    <div class="small-12">
                        <p></p>
                        <h3>No orders found</h3>
                    </div>
                </div>
            </div>
        </div>
    </r2o-content>
    <r2o-footer>
        <div ng-include="'app/shared/templates/menu.html'"></div>
    </r2o-footer>
</r2o-view>